.filter-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4, h5 {
    margin: 15px 0px 0px 0px;
}

input[type="range"], input[type="number"] {
    margin: 15px 0px 0px 10px;
}

label {
    margin-top: 15px;
}

.filter-selector button {
    margin: 5px;
}

.date {
    display: flex;
}
#date-to {
    margin-bottom: 15px;
}

.button-select {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    width: 130px;
    padding: 3px;
    margin: 15px 0px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 5px lightgray;
    cursor: pointer;
}
.icon{
    position: relative;
    right: 3px;
}

.button-select:hover {
    background-color: hsl(0, 0%, 90%);
}
.button-select:active {
    background-color: hsl(0, 0%, 80%);
}

.dropdown-list, .dropdown-list-open {
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    width: 150px;
    max-width: 50vw;
    min-width: fit-content;
    padding:3px;
    margin-top: 0px;
    height: 50vh;
    max-height: 40vh;
    overflow: scroll;
    box-shadow: 2px 2px 5px lightgray;
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(-5%);
    transition: transform 150ms ease-in-out,
                opacity 100ms ease-in-out;
}
.dropdown-list {
    pointer-events: none;
}
.dropdown-list-open {
    opacity: 1;
    transform: translateY(0%);
    transition: transform 150ms ease-in-out,
                opacity 100ms ease-in-out;
    pointer-events: all;
    z-index: 1000;
}

.header button  {
    width: 50px;
    margin: 3px;
    padding: 3px;
    background-color: rgb(1, 180, 228);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.dropdown-list-open .header button:hover {
    background-color: hsl(193, 99%, 41%);
}
.dropdown-list-open .header button:active {
    background-color: hsl(193, 99%, 50%);
}

.popular-items {
    border: 1px dashed blue;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
}

.item, .item-checked, .popular-item, .popular-item-checked{
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
    width: 100%;
    max-width: 50vw;
    min-width: fit-content;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.popular-item, .popular-item-checked {
    width: 40px;
    height: 20px;
}


.item:hover, .popular-item:hover {
    background-color: hsl(0, 0%, 90%);
}

.item:active, .popular-item:active {
    background-color: hsl(0, 0%, 80%);
}

.item-checked, .popular-item-checked {
    background-color: lightgray;
}
.item-checked:hover, .popular-item-checked:hover {
    background-color: hsl(0, 0%, 78%);
}

.flag-icon {
    width: 20px;
    margin: 0px 8px 0px 2px;
}

