.side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    max-width: 225px; 
    border-left: 2px solid #0d253f;
    border-right: 2px solid #0d253f;
}